body {
    background-image: url("./resources/backgroundPurple.png");
    background-size: 100% 100%; 
}

h1 {
    color: white;
    -webkit-text-stroke-color: purple;
    -webkit-text-stroke-width: 3px;
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 3rem; /* Adjust as needed */
}

.introduction {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 30rem;
    padding-right: 30rem;
}
